{% extends "personal/header.html" %}

{% block content %}

<!--
{% include "personal/includes/codesnippet.html"%}
-->

<!--<p> It is a beautiful view </p> -->
	<div class="container">
        <div class="card card-container">
        <h2 class='login_title text-center'>Password Reset</h2>
        <hr>
            <form class="form-signin text-center" method="post">
            </b>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-lg btn-primary" type="submit">Reset Password</button>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div>

{% endblock %}